body {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.counter {
    padding-top: 50px;
    .centerFlex();
    margin: 0 auto;
    flex-direction: column;



    .here {
        @media @mobile {
            .centerFlex();
            margin: 0 auto;
            flex-direction: column;
            text-align: center;
        }

        h1 {
            font-size: 5rem;
            max-width: 100%;
        }

        p {
            .centerFlex();
            padding: 20px;
            font-size: 2.5rem;
            color: @MainColor;
        }
    }

    .served {
        display: flex;
        justify-content: space-around;
        width: 90%;
        max-width: 100%;

        .box {
            @media @mobile {
                text-align: center;
            }

            p {
                padding: 3px 0;
                font-size: 1.3rem;
                font-weight: 500;
            }

            .number {
                .centerFlex();
                font-size: 3rem;
            }
        }
    }
}

.team {
    .centerFlex();
    max-width: 100%;
    margin-top: 40px;

    .profile {
        // border: 3px solid black;
        width: 90%;
        margin: 0 auto;

        @media @mobile {
            text-align: center;
        }

        .team-member {
            // border: 1px solid black;
            display: flex;
            height: 220px;
            border-bottom: .5px dashed black;
            margin: 50px;

            @media @mobile {
                margin-bottom: none;
                height: 150px;
                margin: 20px;
            }
        }

        .member-photo {
            width: 25%;
            height: 220px;
            max-height: 220px;

            img {
                border-radius: 100%;
            }

            // border: 3px solid black;
        }

        .member-info {
            width: 75%;
            font-size: 1.5rem;
            line-height: 1.7;
            padding-left: 10px;
            padding-top: 5px;
            .centerFlex();
            flex-direction: column;

            @media @mobile {
                font-size: 1.1rem;
                padding-top: 0px;
            }

            a {
                color: @MainColor;
                text-decoration: none;
                font-style: italic;
            }

            .role {
                color: @MainColor;
            }

            .es-quote {
                display: none;

                @media @mobile {
                    display: none;
                }
            }
        }
    }
}



// #vin {
//     height: 220px;
// }